body {
  margin: 0;
  height: 100vh;
  width: 100vw;
}

.container {
  background-color: rgb(94, 141, 215);
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-align-items: center;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.children {
  /*border: 1px solid black;*/
  height: auto;
  width: 100%;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -ms-align-items: center;
  align-items: center;
  justify-content: center;
}

.output {
  border: 1px solid red;
  background-color: #fff;
  min-height: 20em;
  width: 80%;
}
