@import url('https://fonts.googleapis.com/css?family=Raleway');
body{
  margin: 0 0;
  padding: 0;
}
.bigdaddy{
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  background: url(http://islam.ru/en/sites/default/files/img/story/2014/09/Organic-Produce.jpg);
  background-size: cover;
  font-family: "Raleway",serif;
}
.enfants{
  /*border: 1px solid #000;*/
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1 ;
}

.intro{
  /*flex-basis: 0;*/
  /*height: 30%;*/
}
.todo{
  background: hsla(86, 80%, 88%, 0.85);
  width: 50%;
  height: auto;
  padding: 1em;
  list-style-type: none;
  -webkit-box-shadow: -2px 2px 1px 0px rgba(18, 17, 18, 0.50);
  box-shadow: -2px 2px 1px 0px rgba(18, 17, 18, 0.50);
  /*height: 60%;*/
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-align-items: center;
  align-items: center;
  justify-content: center;
}
.main{
  /*flex-basis: 1;*/
}
.submit{
  width: 5em;
  font-family: "Raleway",serif;
  background: #74a456;
  border: none;
  margin: 0 0.5em;
}
.toggle-btn{
  margin-top: 0.3em;
  -webkit-box-shadow: -3px 4px 3px 0px hsla(94, 28%, 25%, 0.98);
  box-shadow: -3px 4px 3px 0px hsla(94, 28%, 25%, 0.98);
}
.input-produce{
  font-family: "Raleway";
}


.produce{
  list-style-type: none;
  background: rgba(153, 198, 103, 0.83);
  padding: 1em;
  -webkit-box-shadow: -2px 2px 1px 0px rgba(18, 17, 18, 0.50);
  box-shadow: -2px 2px 1px 0px rgba(18, 17, 18, 0.50);

}
.produce input{
  display: none;
}
.produce input + label:before{
  content:'⬜';
  margin-right: 10px;
}
.produce input:checked + label:before{
  content:'🍎'
}

.ope-farms{
  height: 10em;

}
